/*Christopher Rosales*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.molle-regular-italic {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
  }
  /* <uniquifier>: Use a unique and descriptive class name*/

  .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3{
    font-family: "Molle", cursive;
}
h4, p, q, small, nav, button, form{
    font-family: "Montserrat", sans-serif;
}
header{
    background-image: linear-gradient(#55BCD5, #FFFFFF);
}
/*header div{
    display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 0.5rem;
  align-items: center;
}*/
#plan{
    background-color: #F6D64A;
    padding: 70px;
}
#plan section{
    border: 5px solid #FFFFFF;
    background: #55BCD5;
   padding: 5px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#plan div{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    justify-content: center;
    align-items: center;

}
#about{
   background-color:#499BD2;
}

  #skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
 
#skip:focus{
  position: static;
  width: auto;
  height: auto;
}
label{
    margin: 0 40px 0 0;
    font: 26px;
    display:none;
}
#toggle
{
    display: none;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
footer{
    background-color:#EAEAEA ;
}
@media screen and (max-width: 767px) {
 
   #menu-toggle{
display: block;
text-align: center;
width: 100%;
text-transform: uppercase;
padding: 11px 0;

}
#menu-toggle input {
    display: none;
}
#menu-toggle label{
    display: block;
    color:#FFFFFF;
   background-color: #000000;
   margin: 0;
   padding-top: 2rem;
   height: 5vh;
   cursor: pointer;
}
   
   #menu-toggle a{
       display: block;
       border: .5px solid #222222;
       margin: 0;
       text-decoration:none;
       font-weight: 600;
       border-radius: 5px;
       padding-top: 5rem;
       padding-bottom: 2rem;
       height: 10vh;
    
   }
 
   #menu-page ul {
    display: block;
    background-color: #333;
}

#menu-page li {
    padding: 10px 0;
}

    ul{
       
        background-color:#55BCD5 ;
    }
    li a{
        color:black;
    }
}
#plan div{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}
@media screen and (min-width: 1250px){

    nav {
        position: absolute; 
        top: 0; 
        right: 0; 
        width: auto; 
        display: flex; 
        justify-content: flex-end; 
      }
    
    nav li {
        padding: 10px 10px;
        margin-left: 5px;
        background-color: #FFFFFF;
       
      }
      nav a{
    text-decoration:none;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--white);
    color:#000000;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    text-transform: uppercase;
      }
  nav ul{
    list-style:none;
  display: flex;
  }  
  #intro h2,#intro p{
float:left;
  }
  #img-grip{
      display: grid;
      grid-template-columns: 1fr 1fr 3fr;
      grid-gap: 0rem;
  }

  nav li:hover{
    background-color:#F6D64A ;
    padding: 10px 10px;
}

}