/*Christopher Rosales*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html{
    margin: 0 auto;
}
body{
    margin: 0 auto;
}
.molle-regular-italic {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
  }
  /* <uniquifier>: Use a unique and descriptive class name*/

  .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3{
    font-family: "Molle", cursive;
    font-size: 2.5em;
}
h4, p, q, small, nav, button, form{
    font-family: "Montserrat", sans-serif;
}
header{
    background-image: linear-gradient(#55BCD5, #FFFFFF);
}

#plan{
    background-color: #F6D64A;
    padding: 70px;
}
#plan section{
    border: 5px solid #FFFFFF;
    background: #55BCD5;
   padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}

section h3{
    padding: 20px 0;
}
section h4{
    padding: 20px 0;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

#about{
   background-color:#499BD2;
}

  #skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
 
#skip:focus{
  position: static;
  width: auto;
  height: auto;
}
/*toggle*/
label{
    margin: 0 40px 0 0;
    font: 26px;
    display:none;
}
#toggle{
    display: none;
}


.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.radio-label{
    text-transform: none; 
    color: #333;
    font-weight: bold;
}
#fName,#lName,#prefEmail,#email,#phone,#prefText,#prefPhone,#destination,#travelTime{
    
    width: 300px;
    height: 40px;
    border: 2px solid#9B26B0
}

.required {
    color: #9B26B0; 
}
.form-required{
    text-emphasis-style: none;
}
/* Label Styles */
#nums label ,#contact label,#selects{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    padding: 5px;
}
  /* Custom Radio Button Styles */
  .radio-input {
    display: inline-flex;
    align-items: left;
    margin-right: 15px;
    color: #9B26B0; 
    text-align: left;
}

.radio-input input {
    display: none;
}

.radio-control {
    width: 20px;
    height: 20px;
    border: 3px solid #9B26B0; 
    border-radius: 70%;
    position: relative;
    align-items: center;
    justify-content: left;
}

.radio-control::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9B26B0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.radio-input input:checked + .radio-control::before {
    opacity: 1;
}
/* Custom Select Styles */
.custom-select {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.custom-select select {
    appearance: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.custom-select::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #9B26B0;
}

.custom-select select:focus {
    outline: none;
    border-color: #9B26B0; 
}
.custom-select .focus {
    display: none;
}
span{
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

/* Submit Button Styles */
input[type="submit"] {
    background-color: #9B26B0; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #533675; 
}
footer{
    background-color:#EAEAEA ;
}

@media screen and (max-width: 767px) {
    header{
        display: grid;
        grid-template-columns: 3fr 3fr  ; 
    }
    header h1{
        grid-column: 1;
        grid-row: 2;
        margin-left: 30px;
        text-align: center;
    }
    header p{
        grid-column: 1;
        grid-row: 3;
        margin-left: 30px;
    }
    
#menu-toggle input {
        display: block;
        width: 30px;
        height: 25px;
        position: absolute;
        top: 50%;
        padding: 0;
        cursor: pointer;  
        opacity: 0; 
        -webkit-touch-callout: none;
      }
#menu-toggle label{
    position: relative;
    display: block;
    color:#FFFFFF;
   background-color: #000000;
   margin: 0;
   padding-top: 1rem;
   height: 4vh;
   cursor: pointer;
   text-align: center;
   top: 0%;
    right: 0;
    font-size: 1.2em;
    text-transform: uppercase;
}
#menu-toggle {
    display: block;
    position: relative;
    top: 0;
    left: -6pc;  
    z-index: 2;  
  }
   #menu-toggle a{
       display: block;
       border: .5px solid #222222;;
       text-decoration:none;
       font-weight: 600;
       border-radius: 5px;
       padding-top: 5rem;
       padding-bottom: 2rem;
       height: 10vh;
       -webkit-transition: color 0.3s ease;
       -o-transition: color 0.3s ease;
       transition: color 0.8s ease;
       
       
   }
   ul {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    list-style-type: none;
    left: 26%;
    align-items: center;
    text-align: center;
    transition: left 0.9s ease; 
  }
  
   nav a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; 
    align-items: center;
    text-align: center; 
}

nav li {
   
    background-color: #55BCD5;
}
#menu-toggle label:hover{
    background-color: #F6D64A;
    color: black;
}

#menu-toggle input:checked ~ ul {
    left: 0;
    transform: translate(-100%, -100%) scale(0);
  }


  /*sections*/
  #img-grid img{
display: flex;
    width: 100%;
    height: 450px;
   padding: 2px;
   margin-bottom: 5%;
  }
  #intro h2, #intro p{
      margin: 20px;
      word-spacing: 10px;
  }
#plan div{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
#testimonials div{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

#about div{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}


#contact {
    margin: 10px;
    margin-left: 20px;
}
#contact form ,.custom-select{
    max-width: 700px;
    margin: auto;
    text-align: center;
}
#nums legend{
    padding-top: 10px;
}
.radio-input {
    display: flex;
    align-items: center;
    padding-left: 30%;
    
}
.radio-label{
        display: inline-block;
        margin-right: 55px;
    }

#mySubmit{
    width: 300px;
    align-items: center;
    text-align: center; 
    justify-content: center;
}
label{
    justify-content: left;
    left: 90px;
}
footer{
    text-align: center;
    padding: 20px 20px;
    margin: 10px;
}
}
@media screen and (min-width: 785px){
    
   header{
        display: grid;
          grid-template-columns: repeat(3, 3fr);
         
    }
    header div{
        max-width: 800px;
        margin: 0 auto;
        grid-gap: 0.5rem;
        align-items: center;
       
      }
    
      header h1{
        grid-column: 2;
        grid-row: 1;
        margin-left: 30px;
        
    }
    header p{
        grid-column: 2;
        grid-row: 2;
        margin-left: 30px;
        position: relative;
        top:-40px;
    }
    nav{
        grid-column: 1 / -1;
        position: relative;
        bottom: 60%;
    }
    nav li {
        
        margin-left: 5px;
        background-color: #FFFFFF;
        padding: 10px 8px;
      }
    nav a{
    text-decoration:none;
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem 0;
    background-color: var(--white);
    color:#000000; 
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    text-transform: uppercase;
    justify-content: center;
      }
    nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    padding: 10px 8px;
    text-align: center;
    }  
    

    nav li:hover{
    background-color:#F6D64A ;
    padding: 10px 8px;
    }
   #intro {
        margin: auto 0;
        justify-content: center;
        align-items: center;
        padding: 30px 30px;
    }
    #img-grid{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    #img-grid img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    #plan div{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px 30px;
        margin: 3pc;
        
    }
        
    #about div{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 30px 30px;
}
#testimonials div{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    margin: 5pc;
    
}
#contact {
    margin: 200px;
}
#contact form ,.custom-select, #testimonials div{
        max-width: 700px;
        margin: auto;
        text-align: center;
        
}
  fieldset {
    display: flex;
    max-width: 750px;
    flex-basis: 100%; 
    gap: 20px;
    border: none;
    padding: 0;
    padding-left: 22%;
    align-items: center; 
  }
        



#mySubmit{
    width: 200px;
    align-items: right;
    text-align: center; 
    justify-content: center;
    padding: 10px 15px;
    margin: 20px;
    float:inline-end;

}
}
@media screen and (min-width: 1250px){
  
  header{
    padding-top: 40px;
    display: grid;
    grid-template-columns:0fr  1fr 2fr;
    grid-template-rows: repeat(1, 2fr);
  }
  header h1{
    position:absolute;
        top:70px;
        left: 190px;
  }
 header p {
    grid-column: 2;
    grid-row: 2;
    position: absolute;
    top:120px;
    left: 190px;
  }
    #intro{
    padding: 5px;
    display: grid;
    grid-template-columns:1fr 4fr;
   
    }
  
    #intro h2 {
        grid-column: 1;
        grid-row: 1;
        margin-left: 1pc;
       position: relative;
        top:80px;
        grid-column: 1 / -1;
    }
    #intro p {
        grid-column: 1/2;
        grid-row: 2;
        position: relative;
        bottom:100px;
        padding-left: 20px;
        margin: 10px 0;

    }

    #img-grid{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    #img-grid img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

         
  
    nav {
        position: absolute; 
        top: 0; 
        right: 0; 
        width: auto; 
        display: flex; 
        justify-content: flex-end; 
        
      }
    
    nav li {
        
        margin-left: 5px;
        background-color: #FFFFFF;
        padding: 8px 12px;
      }
      nav a{
    
    position:relative;
    text-decoration:none;
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem 0;
    background-color: var(--white);
    color:#000000; 
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    text-transform: uppercase;
    justify-content: center;
      }
    nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    text-align: center;
    }  

 

  nav li:hover{
    background-color:#F6D64A ;
    padding: 10px 10px;
 }
 #plan div{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    
 }
 #about div{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    justify-content: center;
        align-items: center;
 }
 #testimonials div{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap:20px;
    justify-content: center;
    align-items: center;
 }
 #contact {
    max-width: 800px;
    margin: 50px auto;
    text-align: left;

}
#contact form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 

}
#contact .contact-method {
    display: flex;
    align-items: center;
    gap: 10px;
}
#nums fieldset {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    gap: 15px; 
    border: none;
  
}
fieldset {
    display: flex;
    flex-basis: 100%;
    gap: 20px;
    border: none;
    padding: 0;
    align-items: center; 
}
.radio-input {
    display: flex;
    align-items: center; 
}

.radio-label {
    margin-left: 6px; 
}

footer {
    display: flex;
    justify-content: center; 
    gap: 45px; 
    padding: 10px 0
}

footer a {
    text-decoration: none; 
    color: #333; 
}


}
